;[task]
;cnpiec_1_A=first,second
;cnpiec_1_B=first,second
;cnpiec_3=first,thrid
;cnpiec_4=first,thrid
;;cnpiec_5=first,thrid
;;cnpiec_7_A=first,thrid
;;cnpiec_7_B=first,thrid
;;cnpiec_9_A=first,thrid
;;cnpiec_9_B=first,thrid
;;cnpiec_9_C=first,thrid
;;cnpiec_9_D=first,thrid
;cnpiec_12_A=first,second
;cnpiec_12_B=first,second
;cnpiec_13=first,thrid
;cnpiec_14=first,thrid
;cnpiec_15=first,thrid
;cnpiec_16=first,thrid
;cnpiec_17=first,thrid
;cnpiec_19=first,thrid
;;cnpiec_20=first,thrid
;cnpiec_21=first,thrid
;;cnpiec_22=first,thrid
;;cnpiec_23=first,thrid
;;cnpiec_25_A=first,thrid
;;cnpiec_25_B=first,thrid
;;cnpiec_25_C=first,thrid
;;cnpiec_25_D=first,thrid
;;cnpiec_26_A=first,thrid
;;cnpiec_26_B=first,thrid
;;cnpiec_26_C=first,thrid
;;cnpiec_26_D=first,thrid
;;cnpiec_26_E=first,thrid
;;cnpiec_34=first,thrid
;;cnpiec_30=first,thrid
;;cnpiec_31=first,thrid
;;cnpiec_32_A=first,thrid
;;cnpiec_32_B=first,thrid
;;cnpiec_35=first,thrid
;;cnpiec_36=first,thrid
;;cnpiec_38=first,thrid
;;cnpiec_40=first,thrid
;;cnpiec_41=first,thrid
;;cnpiec_42=first,thrid
;;cnpiec_43=first,thrid
;;cnpiec_44=first,thrid
;;cnpiec_45_A=first,thrid
;;cnpiec_45_B=first,thrid
;;cnpiec_45_C=first,thrid
;;cnpiec_46=first,thrid
;;cnpiec_47=first,thrid
;;cnpiec_49_A=first,thrid
;;cnpiec_49_B=first,thrid
;;cnpiec_49_C=first,thrid
;;cnpiec_49_D=first,thrid



[task]
cnpiec_1_A=first,second
cnpiec_1_B=first,second
cnpiec_3=first,thrid
;cnpiec_4=first,thrid
cnpiec_5=first,thrid
cnpiec_7_A=first,thrid
cnpiec_7_B=first,thrid
;cnpiec_9_A=first,thrid
;cnpiec_9_B=first,thrid
;cnpiec_9_C=first,thrid
;cnpiec_9_D=first,thrid
cnpiec_12_A=first,second
cnpiec_12_B=first,second
cnpiec_13=first,thrid
cnpiec_15=first,thrid
cnpiec_16=first,thrid
cnpiec_17=first,thrid
cnpiec_36=first,thrid
cnpiec_60_A=first,thrid
cnpiec_60_B=first,thrid
cnpiec_62=first,thrid



[path]
;文件下载路径
FILE_PATH = C:/SpiderResultFile
;错误文件路径
ERR_PATH = C:/temp/err
;写日志的文件路径
LOGGER_PATH = C:/temp/


THREAD_MAX_RUN_TIME=20

#rowkey路径
ROWKEY_PATH=C:/SpiderResultFile/kettle.properties
ROWKEY_HISTORY_PATH=C:/SpiderResultFile/rowkeyhistory.txt
JVM_PATH = C:/File/soft/java/jdk1.8/jre/bin/server/jvm.dll
JAR_PATH = D:/classifier.jar
THULAC_MODEL_PATH = C:/File/soft/Python36/Lib/site-packages/thulac/models

